table {
  border-spacing: 0;
  width: 100%;

  th {
    color: $gray-10;
    border-bottom: 1px solid $gray-80;
    font-family: $raleway;
    font-size: 2rem;
    padding: .5rem;
    text-align: left;
    text-transform: capitalize;
  }

  tr:nth-child(even) {
    background-color: $gray-95;
  }

  th,
  td {
    &:nth-of-type(2){
      padding-right: 2rem;
    }
  }

  td {
    color: $gray-30;
    padding: .5rem;
    font-size: 1.3rem;
  }
}
