$black: #000;
$white: #fff;

$gray-10: lighten($black, 10%);
$gray-30: lighten($black, 30%);
$gray-50: lighten($black, 50%);
$gray-80: lighten($black, 80%);
$gray-95: lighten($black, 95%);

$raleway: 'Raleway', sans-serif;
